:root {
  --ifm-code-font-size: 95%;
}

.navbar {
  border-bottom: var(--ifm-global-border-width) solid
    var(--ifm-color-emphasis-300);
  box-shadow: none;
  backdrop-filter: blur(12px);
}

.footer {
  border-top: var(--ifm-global-border-width) solid
    var(--ifm-color-emphasis-300);
}
